<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LabelExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C6EDA2F1E3943E700F990DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6EDA431E3943E800F990DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C6EDA4E1E3943E800F990DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
